html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font:16px;
}

.cDpjEw {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    text-align: center;
    transition: 0.9s;
}

.header{
  width: 100%;
  /* height: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0px;
  left:0px;
  background:#101825 ;
}

.logo{
  color: #1973c8;
  padding-left: 10px;
}

.headerNavigations{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding-right: 10px;
}

.headerNavigations > a{
  color: #c2c1c1;
  font-size: 20px;
  text-decoration: none;
}

.headerNavigations > a:hover{
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  text-align: center;
  transition: 0.9s;
}

@media(max-width: 400px){
  .headerNavigations{
    display: none;
  }
}